<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3">
      <img [src]="artista.images[1].url" class="mx-auto d-block rounded-circle"  style="max-width:100%;" alt="" *ngIf="artista.images.length > 0">
      <img src="../../assets/img/noimage.png" class="mx-auto d-block rounded-circle" style="max-width:100%;" alt="" *ngIf="artista.images.length == 0">
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-9">
      <h1>{{ artista.name }}</h1>
      <p>top Tracks en Chile</p>
      <hr>
      <a class="btn btn-outline-success" [href]="artista.external_urls.spotify" role="button" target="_blank">Ver en Spotify</a>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/search']">Regresar</button>
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let pista of topArtista; let i = index">
    <div class="col-1">
      <p>{{ i + 1 }}</p>
    </div>
    <div class="col-3">
      <img [src]="pista.album.images[1].url" class="img-thumbnail"  style="max-width:100%;" alt="" >
      <img src="../../assets/img/noimage.png" class="mx-auto d-block rounded-circle" style="max-width:100%;" alt="" *ngIf="pista.album.images.length == 0">
    </div>
    <div class="col-2">
      <p>{{ pista.name }}</p>
    </div>
    <div class="col-1">
      <p>{{ pista.popularity }}%</p>
    </div>
    <div class="col-4" *ngIf="pista.preview_url != null">
      <!-- <audio controls>
        <source [src]="pista.preview_url">Navegador malo
      </audio> -->

      <iframe src="https://open.spotify.com/embed?uri=spotify%3Atrack%3A33Q6ldVXuJyQmqs8BmAa0k" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
</div>
