<div class="container jumbotron">
  <div class="row">
    <div class="col-12">
      <div class="h1 text-center">
        Busca tu pelicula
      </div>
      <hr>
      <p>Aca encuentra todas las peliculas que imaginas.</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Buscar</label>
        <input [(ngModel)]="search" type="text" name="search" placeholder="Busca la pelicula que quieres!" (keyUp.enter)="buscar()" class="form-control">
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container" *ngIf="_tmdbService.movieSearch">
  <div class="card-columns">
    <div class="card" *ngFor="let movie of _tmdbService.movieSearch">
      <div class="card-header">
        {{ movie.title }}
      </div>
      <a [routerLink]="['/movie',movie.id,'search',search]"><img class="card-img-top" src="{{ movie | movieImg }}" alt="Card image cap"></a>
      <div class="card-body">
        <p class="card-text">{{ movie.overview }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="arrMovies == false">
  <h2 class="text-center">La busqueda con {{ form.controls.movies.value }} no tuvo resultados</h2>
</div>

<!-- input con pelicula, se debe mostrar en forma de tarjetas u
 otro simil con la foto de poster, al hacer click se debe llevar a la pagina de la pelcula -->
