

<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>
  <table class="table table-hover table-inverse table-responsive">
    <thead>
      <tr>
        <th>Variable</th>
        <th>Pipes</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ nombre }}</td>
        <td> uppercase </td>
        <td>{{ nombre | uppercase}}</td>
      </tr>
      <tr>
        <td>{{ nombre }}</td>
        <td> lowercase </td>
        <td>{{ nombre | lowercase}}</td>
      </tr>
      <tr>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

</div>
