<h1>heroes</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <button type="button" name="button" class="btn btn-outline-primary" [routerLink]="['/heroe','nuevo']">Nuevo Heroe</button>
    <br>
    <br>
  </div>
</div>


<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heroe of heroes">
            <td>{{ heroe.key }}</td>
            <td>{{ heroe.nombre }}</td>
            <td>{{ heroe.casa }}</td>
            <td>{{ heroe.bio }}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>
</div>
