<div class="container" *ngIf="movie">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">{{ movie.title }}</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="{{ movie | movieImg }}" alt="{{movie.title}}" class="img-thumbnail">
    </div>
    <div class="col-5">
      <h2 class="text-center"> Sinopsis</h2>
      <br>
      <p class="text-center">{{ movie.overview }}</p>
      <br>
      <p class="text-center"><strong>{{ movie.tagline}}</strong></p>
    </div>
    <div class="col-4">
      <p>Popularidad: <span class="badge badge-primary">{{ movie.popularity | percent }}</span></p>
      <p>Votos: <span class="badge badge-primary">{{ movie.vote_average }}</span></p>
      <br>
      <button type="button" class="btn btn-outline-danger btn-block" [routerLink]="['/'+origin,search]"> Regresar </button>
    </div>
  </div>
</div>

<!-- mostrar imagen del poster en grande
sinopsis de la peliculas
boton regresar de la pagina anterior (home o search con parametros)  -->
