<div class="container">
  <div class="jumbotron">
    <h1>MoviesApp</h1>
    <hr>
    <p>Lugar donde puedes encontrar información de peliculas.</p>
  </div>
</div>

<app-gallery [movies]="cartelera" title="peliculas en cartelera desde {{ desdeStr }} hasta {{ hastaStr }}"></app-gallery>
<app-gallery [movies]="populares" title="Peliculas populares"></app-gallery>
<app-gallery [movies]="popularesInfantil" title="Peliculas infantiles populares"></app-gallery>


<!-- Al hacer click en la pelicula, debe mostrarme la pagina de la pelicula -->
