<div class="container">
  <div class="jumbotron">
    <h1>MoviesApp</h1>
    <hr>
    <p>Lugar donde puedes encontrar información de peliculas.</p>
  </div>
</div>

<div class="Section text-center" id="cartelera">
    <div class="row">
      <div class="col-12">
        <h2>Peliculas en cartelera</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2" *ngFor="let peliculaCartelera of cartelera.results">
        <a href="#">
          <img src="https://image.tmdb.org/t/p/w300{{ peliculaCartelera.poster_path }}" alt="{{peliculaCartelera.title}}" class="img-thumbnail">
          <p>{{ peliculaCartelera.title }}</p>
        </a>
      </div>
    </div>
</div>
<br>
<br>


<div class="Section text-center" id="popularesInfantil">
    <div class="row">
      <div class="col-12">
        <h2>Peliculas infantiles populares</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2" *ngFor="let infantil of popularesInfantil.results">
        <a href="#">
          <img src="https://image.tmdb.org/t/p/w300{{ infantil.poster_path }}" alt="{{infantil.title}}" class="img-thumbnail">
          <p>{{ infantil.title }}</p>
        </a>
      </div>
    </div>
</div>
<br>
<br>


<div class="Section text-center" id="populares">
    <div class="row">
      <div class="col-12">
        <h2>Peliculas populares</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2" *ngFor="let popular of populares.results">
        <a href="#">
          <img src="https://image.tmdb.org/t/p/w300{{ popular.poster_path }}" alt="{{popular.title}}" class="img-thumbnail">
          <p>{{ popular.title }}</p>
        </a>
      </div>
    </div>
</div>

<!-- Al hacer click en la pelicula, debe mostrarme la pagina de la pelicula -->
